@import "tailwindcss";
html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --color-primary: #111111;
  --color-text: #000000;
}
.b-main {
  background-color: var(--color-primary);
}

.text-main {
  color: var(--color-text);
}
